/* m-research */
.m-research{
  width: 100%;
  max-width: 144rem;
  margin: 19.1rem auto 0;
  // &__ttl
  &__ttl{
    font-weight: 900;
    writing-mode: vertical-rl;
    white-space: nowrap;
    margin: -0.3rem 6rem 0 -0.3rem;
    // ja
    .ja{
      display: block;
      font-size: 4.4rem;
      line-height: 1.556;
      // safari
      // _:lang(x)+_:-webkit-full-screen-document, &{
      //   margin-right: 2.2rem;
      //   margin-left: -2.2rem;
      // }
    }
    // en
    .en{
      display: block;
      font-size: 1.6rem;
      line-height: 1;
      color: $color-blue;
      margin: 0.4rem 1.6rem 0 0;
    }
  }
  // &__container
  &__container{
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 16rem 0 8rem;
  }
  // &-icon
  &-icon{
    position: absolute;
    top: -14.3rem;
    right: -12.44%;
    width: 40.903%;
    backface-visibility: hidden;
    z-index: 1;
    pointer-events: none;
  }
  // &__list
  &__list{
    position: relative;
    width: 100%;
    max-width: 96.2rem;
    background: $color-bg;
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 5.7rem 15.9rem 7.9rem 9.9rem;
    // ttl
    .ttl{
      display: flex;
      align-items: center;
      font-weight: 900;
      // ja
      .ja{
        font-size: 2.5rem;
        color: $color-blue;
      }
      // en
      .en{
        color: #cccccc;
      }
    }
  }
  // &__chara
  &__chara{
    position: absolute;
    bottom: -2.7rem;
    left: -6.4rem;
    z-index: 2;
      // .bubble
    .bubble{
      position: relative;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.5625;
      text-align: center;
      white-space: nowrap;
      background: #ffffff;
      border: 0.5rem solid $color-border;
      border-radius: 2.5rem;
      padding: 2.2rem 1rem 1.8rem 1.4rem;
      &:before,
      &:after{
        position: absolute;
        display: block;
        content: '';
        right: 0;
        left: 0;
        margin: auto;
      }
      &:before{
        width: 0;
        height: 0;
        bottom: -0.7rem;
        border-style: solid;
        border-width: 0.7rem 0.6rem 0 0.6rem;
        border-color: #ffffff transparent transparent transparent;
        z-index: 2;
      }
      &:after{
        bottom: -1.1rem;
        width: 1.4rem;
        height: 1.4rem;
        background: $color-border;
        transform: rotate(45deg);
        border-radius: 0.2rem;
        z-index: -1;
      }
    }
    // .chara
    .chara{
      width: 10rem;
      margin: 1.7rem auto 0;
    }
  }
  // &__search
  &__search{
    position: relative;
    display: flex;
    max-width: 64rem;
    margin-bottom: 1.3rem;
    z-index: 2;
  }
  // &__input
  &__input{
    width: 100%;
    height: 6rem;
    font-size: 1.6rem;
    font-family: $font;
    font-weight: 500;
    color: $color-text;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 3rem;
    padding: 0 6rem 0 4.1rem;
    &::placeholder{
      color: #a6a6a6;
    }
  }
  // &__btn
  &__btn{
    transition: background $duration $easing 0s;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    background: $color-blue;
    border-radius: 50%;
    &:after{
      position: absolute;
      top: 0.1rem;
      right: -0.1rem;
      bottom: 0;
      left: 0;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 2.4rem;
      color: #ffffff;
      @include icon(search);
      margin: auto;
    }
    html.notouch &:hover{
      background: $color-text;
    }
  }
  // &-keyword
  &-keyword{
    // ttl
    .ttl{
      margin-bottom: 0.9rem;
      margin-left: -0.3rem;
      // en
      .en{
        margin-left: 1.8rem;
      }
    }
    // &__list
    &__list{
      display: flex;
      flex-wrap: wrap;
      margin: -0.7rem 0 0 -0.7rem;
      li{
        margin: 0.7rem 0 0 0.7rem;
      }
      a{
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        color: $color-text;
        text-decoration: none;
        background: #c4e7f4;
        border-radius: 1.1rem;
        padding: 0.7rem 1.3rem 0.5rem;
        html.notouch &:hover{
          color: #ffffff;
          background: $color-blue;
        }
      }
    }
  }
  // &-category
  &-category{
    border-top: 1px solid $color-border;
    padding-top: 2.6rem;
    margin-top: 3.9rem;
    // ttl
    .ttl{
      margin-bottom: 1.3rem;
      margin-left: -0.2rem;
      // en
      .en{
        margin-left: 2.1rem;
      }
    }
    // &__list
    &__list{
      display: flex;
      flex-wrap: wrap;
      margin: -1rem 0 0 -0.9rem;
      li{
        margin: 1rem 0 0 1rem;
      }
      a{
        display: block;
        font-size: 1.6rem;
        color: $color-text;
        text-decoration: none;
        background: #ffffff;
        border-radius: 2.5rem;
        padding: 1.1rem 3.2rem;
        html.notouch &:hover{
          color: #ffffff;
          background: $color-text;
        }
      }
    }
  }
}
// 1440
@media screen and (max-width: 1440px){
  .m-research{
    // &__list
    &__list{
      padding-right: 10vw;
      padding-left: 6vw;
    }
  }
}
// tb
@media screen and (max-width: $size-tb){
  .m-research{
    position: relative;
    max-width: none;
    box-sizing: border-box;
    padding: 9.1rem 1.5rem 0;
    margin-top: 7.7rem;
    // &__ttl
    &__ttl{
      position: relative;
      margin: 0 0 6.9rem 1.3rem;
      z-index: 2;
      // ja
      .ja{
        font-size: 3.5rem;
        line-height: 1.143;
        // safari
        // _:lang(x)+_:-webkit-full-screen-document, &{
        //   margin-right: 1.7rem;
        //   margin-left: -1.7rem;
        // }
      }
      // en
      .en{
        font-size: 1.6rem;
        margin: 0.1rem 0.8rem 0 0;
      }
    }
    // &__container
    &__container{
      position: static;
      display: block;
      background: $color-bg;
      border-radius: 2.5rem;
      padding: 5rem 1.5rem 5.7rem;
    }
    // &-icon
    &-icon{
      top: 0.1rem;
      right: -14.6rem;
      width: 47.1rem;
    }
    // &__list
    &__list{
      max-width: none;
      background: transparent;
      padding: 0;
      // ttl
      .ttl{
        display: block;
        text-align: center;
      }
      // ja
      .ja{
        display: block;
        line-height: 1;
      }
      // en
      .en{
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        margin-top: 0.6rem;
      }
    }
    // &__chara
    &__chara{
      display: none;
    }
    // &__search
    &__search{
      max-width: none;
      margin-right: 0.1rem;
      margin-bottom: 1.1rem;
    }
    // &__input
    &__input{
      padding-left: 3rem;
    }
    // &__btn
    &__btn{}
    // &-keyword
    &-keyword{
      // ttl
      .ttl{
        margin: 0 0 1.7rem;
        // en
        .en{
          margin-left: 0;
        }
      }
    }
    // &-category
    &-category{
      padding-top: 2.9rem;
      // ttl
      .ttl{
        margin: 0 0 1.8rem 0.1rem;
        // en
        .en{
          margin-top: 0.7rem;
          margin-left: -0.3rem;
        }
      }
      // &__list
      &__list{
        margin: -0.8rem 0 0 -0.8rem;
        li{
          margin: 0.8rem 0 0 0.8rem;
        }
        a{
          font-size: 1.2rem;
          line-height: 1;
          border-radius: 1.5rem;
          padding: 1rem 1.5rem 0.8rem;
        }
      }
    }
  }
}
